<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Echoes API</title>
  <link rel="icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      /* font-family: Arial, sans-serif; */
    }

    body {
      background-color: #f8f8f8;
      font-family: "JetBrains Mono";
    }

    .container {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      margin-top: 100px;
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: #3a3a3a;
      text-shadow: 2px 2px #f0f0f0;
    }

    h2 {
      font-size: 2.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: #0d2c6e;
      text-shadow: 2px 2px #f0f0f0;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      color: #696969;
    }

    .btn {
      display: inline-block;
      background-color: #3a3a3a;
      color: #fff;
      padding: 0.8rem 1.2rem;
      border-radius: 5px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    .btn:hover {
      background-color: #fff;
      color: #3a3a3a;
      border: 2px solid #3a3a3a;
    }

    @media only screen and (max-width: 768px) {
      .container {
        width: 90%;
      }

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1rem;
      }

      .btn {
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Welcome to Echoes API</h1>
    <h2>by Aryadeep Chakraborty</h2>
    <p>This is the home page for the Echoes API</p>
    <!-- <p>You can use the API to retrieve, create, update, and delete resources</p> -->
    <!-- <a href="/api/d" class="btn">API Documentation</a> -->
  </div>
</body>

</html>